#choose-module ul li {
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden; 
}   

#choose-module ul li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), #ffffff);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

#choose-module {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#choose-module ul li:hover {
    border: 2px solid #0055A4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scale: 1.05;
    transition: all 0.3s ease;
}

#choose-module ul li:hover::before {
    content: none;
}

#title-camb{
    font-family: 'trajan-pro-bold';
}

@font-face {
  font-family: 'trajan-pro-bold';
  src: url("../fonts/trajan-pro-bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.grade-details span {
    color: #0055A4;
    font-weight: 600;
}

.grade-details {
    font-size: 0.9rem;
}

.grade > p{
    max-lines: 1;
    color: rgba(0, 0, 0, 0.75);
}

.grade{
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grade:hover{
    background-color: #0055A410 !important;
    scale: 1.05;
    transition: all 0.3s ease;
}


.grade .back {
    /*revisar*/
    min-height: 150px;
    background-color:#0055A4 ;
}

.title-grade span{
    background-color: #0055A4;
    font-weight: 600;   
}

.info-class i{
    height: fit-content;
    padding: 8px 16px;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 50px;
    background-color: #0055A4;
}

.info-class h4 {
    white-space: nowrap;
}

.info-class p {
    font-size: 0.9rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-class {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info-class:hover {
    background-color: #0055A410 !important;
    transition: all 0.3s ease;
}

